/*------------------------*/
/* GLOBAL STYLES */
/*------------------------*/
body {
	// overflow: hidden;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Dosis', sans-serif;
	text-transform: uppercase;
	font-weight: 400;
}

h2 {
	font-size: 18px;
	letter-spacing: 5px;
	text-align: center;
}

h3 {
	letter-spacing: 3px;
	font-size: 16px;
}

p {
	font-family: 'Open Sans', sans-serif;
	color: #777;
	font-weight: 300;
	font-size: 18px;
	line-height: 27px;
}

section {
	margin: 150px 0
}

@media (max-width: 600px) {
	section {
		margin : 75px 0;
	}
	}

.sub-head {
	text-align: center
}

.sub-head.mb-75 {
	margin-bottom : 75px;
}

.sub-head.mb-75.mb-35 {
	margin-bottom : 35px;
}

.full-height-width {
	width: 100%;
	height: 100%;
}

.container {
	max-width: 1024px;
	margin: 0 auto
}

@media (max-width: 1050px) {
	.container {
		padding : 0 15px;
	}
	}

.page-separator {
	border-top: 1px solid rgb(217, 217, 217);
}

.clearfix:after {
	content: "";
	display: table;
	clear: both;
}
.nav {
	transition: all 2s;
}
.hidden-nav {
	opacity: 0;
}
/* STICKY NAV */
.stuck {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: 2;
	background-color: rgba(0, 0, 0, 0.8);
	box-shadow: 0 2px 5px #000;
	opacity: 1;
}

/* offset trick to avoid hashtag links to end up behind fixed nav bar */
.offset:before {
	display: block;
 	content: " ";
	height: 104px; /* height of the navbar X 2 */
	margin-top: -52px;
	visibility: hidden;
}

/*------------------------*/
/* HERO SECTION */
/*------------------------*/
.hero {
	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/bg-hero-img.jpg");
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	width: 100%;
	height: 100vh;
	margin-top: 0;
}
.hero ul {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: row;
	    flex-direction: row;
	-ms-flex-pack: end;
	    justify-content: flex-end;
	margin: 0;
	padding: 20px 0;
	list-style: none;
	font-size: 11px;
}
.hero ul li {
	text-transform: uppercase;
	padding-right: 25px;
	letter-spacing: 2px;
	color: rgba(255, 255, 255, .8);
}
.hero ul li a {
	color: rgba(255, 255, 255, .8);
	text-decoration: none;
	padding-bottom: 8px;
	border-bottom: 1px solid transparent
}
.hero ul li a:hover {
	border-bottom : 1px solid #f44336;
}
.hero .hero-text {
	height: 100%;
	display: -ms-flexbox;
	display: flex;
	text-align: center;
	margin-top: -25px;
	-ms-flex-pack: center;
	    justify-content: center;
	-ms-flex-direction: column;
	    flex-direction: column;
}
.hero .hero-text h1 {
	font-size: 36px;
	font-weight: 400;
	letter-spacing: 35px;
	color: #fff
}
.hero .hero-text p {
	letter-spacing: 6px;
	font-size: 20px;
	color: rgba(255, 255, 255, .8)
}
@media (max-width: 568px) {
	.hero {
		background-attachment : scroll;/* IOS fix to display background */
	}
	}
@media (max-width: 568px) {
	.hero ul {
		-ms-flex-pack : distribute;
		    justify-content : space-around;
	}
		}
@media (max-width: 568px) {
	.hero ul li {
		padding-right : 0;
	}
			}
@media (max-width: 1000px) {
	.hero .hero-text h1 {
		letter-spacing : 30px;
	} }
@media (max-width: 900px) {
	.hero .hero-text h1 {
		letter-spacing : 25px;
	} }
@media (max-width: 805px) {
	.hero .hero-text h1 {
		font-size : 30px;
		letter-spacing : 20px;
	}
			}
@media (max-width: 670px) {
	.hero .hero-text h1 {
		font-size : 25px;
		letter-spacing : 15px;
	}
			}
@media (max-width: 500px) {
	.hero .hero-text h1 {
		font-size : 22px;
		letter-spacing : 10px;
	}
			}
@media (max-width: 645px) {
	.hero .hero-text p {
		font-size : 16px;
	}
			}

/*------------------------*/
/* ABOUT ME SECTION */
/*------------------------*/
.about .about-content {
	text-align: center;
}
.about img {
	border-radius: 50%;
	margin: 24px 0 14px;
}

/*------------------------*/
/* PORTFOLIO SECTION */
/*------------------------*/
.portfolio .portfolio-showcase__image {
	width: 60%;
	float: left;
}
.portfolio .portfolio-showcase__image img {
	width: 100%;
}
.portfolio .portfolio-showcase__description {
	float: right;
	width: 38%;
}
.portfolio .portfolio-showcase__description ul {
	display: -ms-inline-flexbox;
	display: inline-flex;
	list-style: none;
	padding-left: 0;
	margin: 0;
}
.portfolio .portfolio-showcase__description ul li {
	padding: 3px 6px;
	background-color: #1cbbb4;
	border-radius: 2px;
	font-size: 10px;
	color: #fff;
	text-transform: uppercase;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12)
}
.portfolio .portfolio-showcase__description ul li + li {
	margin-left : 5px;
}
.portfolio .portfolio-showcase__separator {
	margin: 75px auto;
	width: 50%;
	border: 0;
	height: 1px;
	background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgb(217, 217, 217), rgba(0, 0, 0, 0))
}
.portfolio .fa-tags {
	vertical-align: middle;
}
.portfolio .web-apps {
	margin: 75px 0;
}
@media (max-width: 1023px) {
	.portfolio .portfolio-showcase__image {
		width : 100%;
		float : none;
	}
		}
@media (max-width: 1023px) {
	.portfolio .portfolio-showcase__description {
		width : 100%;
		float : none;
	}
		}
@media (max-width: 480px) {
	.portfolio .portfolio-showcase__separator {
		margin : 40px auto;
		width : 80%;
	}
		}
/* web apps portion of portfolio */
.web-apps__showcase {
	list-style: none;
	width: 100%;
	margin: 0;
	padding: 0;
}
.web-apps__showcase li {
	width: 50%;
	float: left;
	position: relative;
	cursor: pointer;
	overflow: hidden;
	transition:all 0.5s ease-in-out
}
.web-apps__showcase li:hover .caption {
	opacity : 1;
	z-index : 1;
}
.web-apps__showcase li:hover img {
	transform : scale(1.1);
}
.web-apps__showcase img {
	width: 100%;
	vertical-align: top;
	transition:all 0.5s ease-in-out;
}
.web-apps__showcase .caption {
	position: absolute;
	top: 0;
	opacity: 0;
	transition:all 0.5s ease-in-out;
}
.web-apps__showcase .blur {/* adds black overlay on hover when image is hovered. Effect is triggers by opacity: 1 on the li  */
	position: absolute;
	background-color: rgba(0,0,0,0.8);
}
.web-apps__showcase .caption-text {
	position: absolute;
	text-align: center;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	    align-items: center;
	-ms-flex-pack: center;
	    justify-content: center;
	-ms-flex-direction: column;
	    flex-direction: column;
}
.web-apps__showcase .caption-text p {
	padding: 0 30px;
	color: #fff
}
.web-apps__showcase .caption-text h2 {
	color: #fff;
}
@media (max-width: 700px) {
	.web-apps__showcase li {
		width : 100%;
		float : none;
	}
		}
@media (max-width: 480px) {
	.web-apps__showcase .caption-text p {
		font-size : 15px;
		line-height : 20px;
	}
			}
/*------------------------*/
/* CONTACT SECTION */
/*------------------------*/
.contact {
	width: 100%;
	background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../images/wood.jpeg");
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	color: #fff;
	margin-bottom: 35px;
}
.contact .contact__content {
	padding: 50px 0;
}
.contact h2 {
	margin-top: 0;
}
.contact p {
	color: rgba(255, 255, 255, 0.6);
}
.contact .button {
	width: 140px;
	padding: 10px 0;
	margin: 0 auto;
	border-radius: 3px;
	text-align: center;
	background-color: #1cbbb4;
}
.contact .button a {
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 14px;
}
/*------------------------*/
/* FOOTER SECTION */
/*------------------------*/
footer .footer__social {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: center;
	    justify-content: center;
}
footer ul {
	display: -ms-flexbox;
	display: flex;
	list-style: none;
	padding: 0;
}
footer ul li+li {
	margin-left: 30px;
}
footer i {
	color: #000
}
footer i.fa-linkedin:hover {
	color : #007bb6;
}
footer i.fa-twitter:hover {
	color : #00b6f1;
}
footer .copy-right {
	text-align: center;
	margin-bottom: 0;
	font-size: 10px;
}
