/*------------------------*/
/* GLOBAL STYLES */
/*------------------------*/
body {
	// overflow: hidden;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Dosis', sans-serif;
	text-transform: uppercase;
}
h2 {
		font-size: 18px;
    font-weight: 400;
		letter-spacing: 5px;
}
p {
	font-family: 'Open Sans', sans-serif;
	color: #777;
	font-weight: 300;
	font-size: 18px;
  line-height: 27px;
}

.container {
	max-width: 1024px;
	margin: 0 auto;
	@media (max-width: 1050px) {
		padding: 0 25px;
	}
}

/*------------------------*/
/* HERO SECTION */
/*------------------------*/
.hero {
	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/bg-hero-img.jpg");
	background-position: center;
  background-size: cover;
	background-attachment: fixed;
	width: 100%;
	height: 100vh;
	ul {
		display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: 0;
    padding: 20px 0;
    list-style: none;
		font-size: 11px;
		li {
			text-transform: uppercase;
			padding-right: 25px;
			letter-spacing: 2px;
			color: rgba(255, 255, 255, .8);
			a {
				color: rgba(255, 255, 255, .8);
				text-decoration: none;
		    padding-bottom: 8px;
				border-bottom: 1px solid transparent;
				&:hover {
					border-bottom: 1px solid #f44336;
				}
			}
		}
	}
	.hero__text {
		height: 100%;
    display: flex;
		text-align: center;
    margin-top: -52px;
    justify-content: center;
    flex-direction: column;
		h1 {
	    font-size: 36px;
	    font-weight: 400;
	    letter-spacing: 35px;
	    color: #fff;
			@media (max-width: 1000px) {
				letter-spacing: 30px;
			}
			@media (max-width: 900px) {
				letter-spacing: 25px;
			}
			@media (max-width: 790px) {
				font-size: 30px;
				letter-spacing: 20px;
			}
			@media (max-width: 645px) {
				font-size: 25px;
				letter-spacing: 15px;
			}
			@media (max-width: 500px) {
				font-size: 22px;
				letter-spacing: 10px;
			}
		}
		p {
			letter-spacing: 6px;
	    font-size: 20px;
	    color: rgba(255, 255, 255, .8);
			@media (max-width: 645px) {
				font-size: 16px;
			}
		}
	}
}

/*------------------------*/
/* ABOUT ME SECTION */
/*------------------------*/
.about {
	margin: 100px 0;
	.about__image {
		@media (max-width: 750px) {
			display: none;
		}
	}
}

/*------------------------*/
/* PORTFOLIO SECTION */
/*------------------------*/
